
semana12/Rally
semana12/Ursina-Engine-Panda3D-Games
semana12/UrsinaFPS
semana14/video1.mp4
semana14/video2.mp4
semana14/video3.mp4
semana14/video4.mp4
semana14/scan.py
semana14/deploy.prototxt
semana14/MobileNetSSD_deploy.caffemodel